@import "../../sass/abstracts.scss";

.mh {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .console {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &__play {
    overflow: auto;
    padding: 4rem 3rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $color-white;

    &__doors {
      flex: 1;
      margin-top: 6rem;
      grid-gap: 4rem;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(80px,1fr));

      &__door {
        width: 10rem;
        height: 14rem;
        background-color: $color-primary;
        border: none;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $color-black;
        }

        &:hover &__content__text {
          color: $color-white;
        }

        &:disabled {
          pointer-events: none;
          opacity: 0.6;
        }

        &__content {
          position: relative;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          &__text {
            font-size: 1.6rem;
            color: $color-white;
          }

          &__icons {
            font-size: 3.2rem;
            position: absolute;
            bottom: 1rem;
          }
        }
      }
    }
  }

  &__settings {
    display: flex;
    gap: 1rem;
    padding: 2rem 4rem;
    box-shadow: 0 -5px 5px 0 $color-black-op-10;

    &__item {
      display: flex;
      flex-direction: column;

      label, span {
        font-size: 1.2rem;
        font-weight: 700;
        height: 4rem;
        max-width: 14rem;
      }

      input, p {
        appearance: textfield;
        border: 0;
        border-bottom: 1px solid #345d6a;
        font-size: 2.2rem;
        margin-top: 0.8rem;
        max-width: 15rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 12rem;
      }

      p {
        border: none;
      }
    }

    .vertical-divider {
      height: 100%;
      margin: 0 1rem;
    }
  }
}
