@import "../../sass/abstracts.scss";

.floating-paper-sheets {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 0.1rem;
  background-color: transparent;

  &__sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: $color-primary;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    &[data-left-circle="true"] {
      position: relative;
      overflow: hidden;

      $width: 100%;
      $height: $width;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10%;
        width: 15rem;
        height: 15rem;
        background-color: $color-black;
        border-radius: 50%;
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }
    }

    &[data-right-circle="true"] {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10%;
        width: 15rem;
        height: 15rem;
        background-color: $color-black;
        border-radius: 50%;
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    }
  }
}
