@import "../../sass/abstracts.scss";

.floating-paper-sheets {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 0.1rem;
  background-color: transparent;

  &__sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: $color-primary;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    background:
      radial-gradient(circle at 100% 50%, transparent 20%, $color-black 21%,
        $color-black 34%, transparent 35%, transparent),
      radial-gradient(circle at 0% 50%, transparent 20%, $color-black 21%, $color-black 34%, transparent 35%, transparent) 0 -50px;
    background-color: $color-primary;
    background-size: 75px 100px;


    &[data-left-circle="true"] {
      position: relative;
      overflow: hidden;

      background:
        radial-gradient(circle, transparent 20%, lightpink 20%,
          lightpink 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, lightpink 20%,
          lightpink 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(white 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, white 8px, transparent 8px) -4px 0;
      background-color: lightpink;
      background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;

      $width: 100%;
      $height: $width;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10%;
        width: 15rem;
        height: 15rem;
        background-color: $color-black;
        border-radius: 50%;
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }
    }

    &[data-right-circle="true"] {
      position: relative;
      overflow: hidden;

      background:
        radial-gradient(circle, transparent 20%, lightpink 20%,
          lightpink 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, lightpink 20%,
          lightpink 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(white 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, white 8px, transparent 8px) -4px 0;
      background-color: lightpink;
      background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10%;
        width: 15rem;
        height: 15rem;
        background-color: $color-black;
        border-radius: 50%;
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    }
  }
}
