@import "../../sass/abstracts.scss";

.settings {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  gap: 2rem;

  h3 {
    font-size: 4rem;
    font-weight: 300;
  }

  &__row {
    display: flex;
    gap: 1vw;

    .vertical-divider {
      margin: 0 4rem;
    }

    &__item {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 700;
        font-size: 1.4rem;
      }

      input, p {
        font-size: 3.6rem;
        margin-top: 0.8rem;
        max-width: 14rem;
        border: 0;
        appearance: textfield;
        border-bottom: 1px solid $font-color;

        &:focus {
          outline: none;
        }
      }

      p {
        border: 0;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      gap: 0.2vw;

      // ripple button
      button {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
        border: 0;
        border-radius: 0.5rem;
        background-color: $color-primary;
        color: $color-white;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
