@import "../../sass/abstracts.scss";

.settings {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  gap: 2rem;

  h3 {
    font-size: 3.6rem;
    font-weight: 300;
  }

  &__row {
    display: flex;
    gap: 1vw;

    .vertical-divider {
      margin: 0 3rem;
    }

    &__item {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 700;
        font-size: 1.4rem;
      }

      input, p {
        font-size: 2.8rem;
        margin-top: 0.8rem;
        max-width: 14rem;
        border: 0;
        appearance: textfield;
        border-bottom: 1px solid $font-color;
        width: 13rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:focus {
          outline: none;
        }
      }

      p {
        border: 0;
      }
    }

    &__controls {
      display: flex;
      // align-items: center;
      flex-direction: column;
      gap: 0.5vw;

      // ripple button
      button {
        font-size: 1.4rem;
        padding: 1rem 2rem;
        border: 0;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        color: $color-white;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        outline: none;

        &:disabled {
          opacity: 0.5;
          cursor: initial;
        }

        &:last-child {
          background-color: $color-white;
          color: $color-primary;
        }

        &:focus-visible {
          box-shadow: 0 0 0.5rem $color-primary;
        }
      }
    }
  }
}
